*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    border-radius: 12px;
    padding: 0.5em;
    background-color: crimson;
    border: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 7px rgb(121, 121, 121);
    width: 50%;
    height: 50px;
}
button:hover{
    opacity: 0.7;
    transition: all 0.5s;
    box-shadow: none;
}
h3{
    text-align: center;
}
.logado{
    margin: 10rem auto;
    text-align: center;
    margin-bottom: 1ch;
}
.bem_vindo{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.botao{
    text-align: center;
}
body{
    /*background:#f6f5f7;*/
    background-image: radial-gradient( #f6f5f7,rgb(97, 97, 97));
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}
.conteudo2{
    margin: 0 auto;
    width: 50%;
    height: 170px;
    background-color: #f6f5f7d3;
    box-shadow: 2px 2px 20px rgb(103, 103, 103);
    border-radius: 30px;
    padding-top: 3rem;


}